<template>
  <div class="daily-milk-production-results-container">
    <canvas>
    </canvas>
    <div class="performance-meter-section">
      <PerformanceMeter
        :performance="perfomance"
        strokeWidth="4"
        fontSize="19"
        fontFamily="consolas"
        size="150"
        imageName="cow2.svg"
        maximumPossibleValue="50"
      />
    </div>
    <div class="result-text-section">
      <h3 class="title">{{ dairyResult.result }}</h3>
      <p class="info-message">{{ dairyResult.message }}</p>
    </div>
    <div class="button-container">
      <AppButton @click="$router.push('/')" v-if="isLoggedIn">Help me improve &#x2192;</AppButton>
      <AppButton v-else @click="showSignupModal">Sign up to find out how &#x2192;</AppButton>
    </div>
    <div class="back-button-container">
      <a href="#"
      @click.prevent="$emit('changeStage', quantityOfMilk)">
      &#x2190; Back</a>
    </div>
    <SocialMediaShare
    v-if="shareSectionShouldShow"
    :farmPerformance='dairyResult'
    :shareText="this.shareText"
    />
  </div>
</template>

<script>
import isLoggedInMixin from '@/mixins/isLoggedInMixin'
import showSignupModalMixin from '@/mixins/showSignupModalMixin'
import PerformanceMeter from '@/components/ui/PerformanceMeter.vue'
import AppButton from '@/components/ui/AppButton.vue'
import SocialMediaShare from '@/components/layout/SocialMediaShare.vue'
import { resultCategory } from
  '@/utils/validators/ResultCategoryValidator.js'

export default {
  name: 'DailyMilkProductionResult',

  components: {
    PerformanceMeter,
    AppButton,
    SocialMediaShare
  },

  mixins: [isLoggedInMixin, showSignupModalMixin],

  data () {
    const perfomance = resultCategory.getPerformance(this.quantityOfMilk)

    return {
      shareText: `My daily milk production is ${perfomance} liters.`,
      shareMessage: 'Share with my friends',
      perfomance
    }
  },

  props: {
    quantityOfMilk: {
      type: Number,
      required: true
    }
  },

  computed: {
    dairyResult () {
      const dairyResult = resultCategory.goodCategoryCheck(this.quantityOfMilk) ||
      resultCategory.poorCategoryCheck(this.quantityOfMilk) ||
      resultCategory.averageCategoryCheck(this.quantityOfMilk)
      return dairyResult
    },
    shareSectionShouldShow () {
      return !resultCategory.poorCategoryCheck(this.quantityOfMilk)
    }
  }
}
</script>

<style scoped>
.daily-milk-production-results-container{
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 5% 0px
}

.result-text-section {
  color: #59000f;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.info-message {
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
  min-width: 13rem;
  max-width: 25rem;
  width: 70%;
  margin: 0 auto 1rem;
}

.button-container {
  text-align: center;
}

.back-button-container {
  text-align: center;
}

.back-button-container a {
  display: inline-block;
  color: #88af00;
  font-size: 14px;
  margin-top: 16px;
}
  @media only screen and (max-width: 400px) {
    h2 {
      font-size: 1.7rem;
    }
  }
canvas {
    display: none;
    font-family: 'Comfortaa', cursive;
  }

</style>
