<template>
  <transition name="fade" appear>
    <component
      class="positioning"
      :is="activeComponentName"
      v-bind="propsObject"
      @submit="handleSubmit"
      @changeStage="handleChangeStage"
    />
  </transition>
</template>

<script>
import MilkMeasure from './MilkMeasure.vue'
import CowsCount from '@/components/ui/CowsCount'
import MilkPrice from './MilkPrice.vue'
import RevenueProjection from './RevenueProjection'
import dynamicComponentMixin from '@/mixins/dynamicComponentMixin'

/**
 * A list containing components in the order they are to be rendered
 * and their props that are in this file state
 */
const componentsPropList = [
  { CowsCount: ['numberOfCows'] },
  { MilkMeasure: ['milkQuantity'] },
  { MilkPrice: ['milkPrice'] },
  { RevenueProjection: ['numberOfCows', 'milkQuantity', 'milkPrice'] }
]

/**
 * A list containing components in the order they are to be rendered
 * and their props that are not in this file state
 */
const componentViewDetails = [
  {
    CowsCount: {
      title: 'Let\'s see how much money you can make ...',
      heading: 'How many cows do you want to start with?',
      routerNote: 'Back Home'
    }
  }
]

export default {
  name: 'FarmStatsPage',

  mixins: [dynamicComponentMixin(componentsPropList, componentViewDetails)],

  data () {
    return {
      numberOfCows: 0,
      milkQuantity: 0,
      milkPrice: 0
    }
  },

  components: {
    MilkMeasure,
    MilkPrice,
    CowsCount,
    RevenueProjection
  }
}
</script>

<style scoped>
  * {
    text-align: center;
  }

  .positioning {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 6% 1.25rem;
    margin-top: 80px;
  }

  /* TRANSITION */

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: all 1.4s ease-in;
  }

  .fade-leave-to {
    opacity: 0;
  }
</style>
