<template>
  <div class="rr-switchers">
    <li class="my-activities" @click="changeIsActiveLinkStatus('isMyActivitiesLinkActive')">
      <a :class="[{ 'isActive': isMyActivitiesLinkActive }]" href="#">My Activities</a>
    </li>
    <li class="my-profile" @click="changeIsActiveLinkStatus('isMyProfileLinkActive')">
      <a :class="[{ 'isActive': isMyProfileLinkActive }]" href="#">Profile</a>
    </li>
    <li class="report" @click="changeIsActiveLinkStatus('isReportLinkActive')">
      <a :class="[{ 'isActive': isReportLinkActive }]" href="#">Reports</a>
    </li>
  </div>
</template>

<script>
export default {
  name: 'UserProfileSwitcher',
  data () {
    return {
      isMyActivitiesLinkActive: true,
      isReportLinkActive: false,
      isMyProfileLinkActive: false
    }
  },
  methods: {
    changeIsActiveLinkStatus (status) {
      const availableStatuses = [
        'isMyActivitiesLinkActive',
        'isReportLinkActive',
        'isMyProfileLinkActive'
      ]
      return availableStatuses.map(availableStatus => {
        if (status === availableStatus) {
          this[status] = true
          this.$emit('changeProfileSection', availableStatus)
        } else {
          this[availableStatus] = false
        }
      })
    }
  }
}
</script>

<style scoped>
.rr-switchers {
  text-align: left;
  margin: 4rem auto 0;
}
.rr-switchers li {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  color: #7a3241;
}
.rr-switchers li a {
  text-decoration: none;
  color: inherit;
}
a.isActive::after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #86b600;
}
@media only screen and (max-width: 600px) {
  .rr-switchers {
    max-width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .rr-switchers li {
    margin-right: 1.2rem;
  }
  .rr-switchers li a {
    font-size: 80%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 799px) {
  .rr-switchers{
    margin-left: 70px;
    margin-bottom: 20px;
    margin-right: 30px;
  }
}
</style>
