<template>
  <ProfileSideBarLayout>
    <div class="blog-container">
      <Spinner v-if="getBlogs.isLoading"/>
      <div class="row" v-if="!getBlogs.isLoading">
        <Blog
          v-for="blog in getBlogs.blogs.data.blogs"
          :key="blog.id"
          :title="blog.title"
          :likes="blog.likes"
          :comments="blog.number_of_comments"
          :image="blog.photo"
          :url="`/blogs/${blog.id}`"
          :id="blog.id"
        />
      </div>

      <p class="pagination-content" v-if="!getBlogs.isLoading && getBlogs.blogs.data.blogs.length">
        <PaginationButton
          v-if="getBlogs.blogs.links.prev"
          @click="goToPreviousPage"
          class="float-left"
        >&#x2190; Previous</PaginationButton>
        <PaginationButton
          v-if="getBlogs.blogs.links.next"
          @click="goToNextPage"
          class="float-right"
        >Next &#x2192;</PaginationButton>
      </p>
    </div>
  </ProfileSideBarLayout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'
import Blog from './Blog.vue'
import Spinner from '@/components/ui/Spinner'
import PaginationButton from '@/components/ui/PaginationButton'

export default {
  name: 'Blogs',
  components: {
    ProfileSideBarLayout,
    Blog,
    Spinner,
    PaginationButton
  },
  computed: {
    ...mapGetters(['getBlogs'])
  },
  metaInfo () {
    return {
      title: 'Dairynomics - All Blog Posts',
      meta: [
        { name: 'description', content: 'Dairynomics Blog' },
        { property: 'og:title', content: 'Dairynomics Blog' },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: 'https://www.cowsoko.com/blog' },
        { property: 'og:description', content: 'Dairynomics Blog' }
      ]
    }
  },
  methods: {
    ...mapActions(['getAllBlogs']),
    paginatedMethod (defaultCounter, incremeter) {
      let url = new URL(window.location.href)
      let page = url.searchParams.get('page')
      let pageCounter
      if (page === null) {
        pageCounter = defaultCounter
      } else {
        pageCounter = parseInt(page) + incremeter
      }
      return pageCounter
    },
    goToPreviousPage () {
      const pageCounter = this.paginatedMethod(1, -1)
      this.$router.push(`/blogs?page=${pageCounter}`)
      this.getAllBlogs(pageCounter)
    },
    goToNextPage () {
      const pageCounter = this.paginatedMethod(2, 1)
      this.$router.push(`/blogs?page=${pageCounter}`)
      this.getAllBlogs(pageCounter)
    }
  },
  created () {
    const pageCounter = this.paginatedMethod(1, 0)
    this.$router.push(`/blogs?page=${pageCounter}`)
    this.getAllBlogs(pageCounter)
  }
}
</script>

<style scoped>
.blog-container {
  margin-top: 6%;
  margin-bottom: 70px;
}
.pagination-content {
  margin-top: 15px;
  overflow: auto;
}
.pagination-content button {
  color: #88af00;
  background: #fff;
  border: solid 0.1rem #88af00;
  border-radius: 1.4rem;
  width: 8.5rem;
  height: 2.5rem;
  box-shadow: none;
}
@media screen and (max-width: 380px) {
  .pagination-content button {
    width: 7rem;
  }
}
@media screen and (max-width: 600px) {
  .blog-container {
  margin-bottom: 30px;
}
}
</style>
