<template>
  <transition name="fade" appear>
    <div v-if="this.isFetching.page" class="spinner">
      <Spinner/>
    </div>
    <div v-else class="layout">
      <div v-bind:class="this.sideBarClasses" ref="sidebar">
        <SideContent
          v-bind:toggleSideBar="toggleSideBar"
          v-on:updatePageData="updatePageData()"
          v-on:showUnsentMessageIcon="(userId) => showUnsentMessageIcon(userId)"
          v-bind:allUsers="this.allUsers"
        />
      </div>
      <div class="content">
        <div class="spinner-wrapper center" v-if="this.isFetching.messages">
          <Spinner />
        </div>
        <div v-else class="fadein">
          <ContentHeader v-bind:toggleSideBar="toggleSideBar" />
          <div ref="chatPane" class="chat-pane" v-on:scroll="scrollHandler($event)">
            <div v-if="this.isProcessing" class="spinner">
              <Spinner />
            </div>
            <div v-else >
              <div v-bind:class="this.getChatWrapperClasses">
                <UserChat
                  v-for="(message, index) in allMessages"
                  v-bind:key="index"
                  v-bind:message="message"
                  v-bind:doReverse="shouldDoReverse(message)"
                />
              </div>
              <div class="container" v-show="this.chatMate.isActive">
                <div class="editor-wrapper">
                  <textarea-autosize
                    class="textarea"
                    id="editor"
                    placeholder="Type your message..."
                    v-on:input.native="changeHandler($event)"
                    v-on:blur.native="sendSignal(false)"
                    v-on:focus.native="toggleSideBar(false)"
                    v-model="message"
                    @keyup.enter.native="postMessage"
                  ></textarea-autosize>
                  <div class="button-wrapper">
                    <div class="info">
                      <span v-show="this.isTyping">{{ this.chatMate.first_name }} {{ this.chatMate.last_name }} is typing...</span>
                    </div>
                    <button
                      class="button"
                      v-on:click="postMessage"
                      v-bind:disabled="this.isPosting ? true : false"
                    >Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import SideContent from '@/pages/Message/SideContent'
import ContentHeader from '@/pages/Message/ContentHeader'
import UserChat from '@/pages/Message/UserChat'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'Message',
  components: {
    ContentHeader,
    SideContent,
    UserChat,
    Spinner
  },
  data () {
    return {
      userType: null,
      message: '',
      messages: {},
      status: 'offline',
      sideBarClasses: 'sidebar',
      isProcessing: false,
      isPosting: false,
      page: 1,
      totalPage: 1
    }
  },

  updated () {
    if (this.$refs.chatPane) {
      this.$nextTick(() => this.scrollToBeginning())
    }
  },

  computed: {
    getChatWrapperClasses () {
      return this.allMessages.length > 0
        ? 'chat-wrapper'
        : 'chat-wrapper no-message-background'
    },
    ...mapGetters([
      'allMessages', 'isFetching', 'chatMate', 'allUsers',
      'USER_PROFILE', 'peerModel', 'isTyping', 'getMessagesMeta'
    ])
  },

  methods: {
    /**
     * @description Scroll to the beginning of the current messages in a paginated request
     */
    scrollToBeginning () {
      const container = this.$refs.chatPane
      container.scrollTop = this.page === 1
        ? container.scrollHeight
        : (container.scrollHeight / this.page) - container.clientHeight
    },

    /**
     * @description Update the page data to the default values
     */
    updatePageData () {
      this.totalPage = this.page = 1
    },

    /**
     * @description Handles scroll event
     *
     * @param {Event} event the browser event object
     */
    async scrollHandler (event) {
      const { last_page } = this.getMessagesMeta
      const { scrollTop, scrollHeight, clientHeight } = event.target
      if (scrollTop === 0 && this.page < last_page) {
        this.isProcessing = true
        await this.loadMessagesAction({
          showSpinner: false, page: ++this.page
        })
        this.isProcessing = false
      }
    },

    /**
     *  @description Reverses the chate mate profile phote that
     *  appears next to the corresponding message
     *
     * @param {Object} message the message
     * @returns {Boolean}
     */
    shouldDoReverse (message) {
      return Number(message.sender_id) !== Number(this.USER_PROFILE.id)
    },

    /**
     * @description Toggles the sidebar
     */
    toggleSideBar (isShow, userId) {
      this.message = this.messages[this.chatMate.id]
      this.sideBarClasses = isShow
        ? 'sidebar sidebar-show'
        : 'sidebar'
    },

    ...mapActions([
      'postMessageAction', 'receiveMessageAction', 'loadUsersAction', 'updateUsersAction',
      'openConnectionAction', 'sendTypingSignal', 'loadMessagesAction', 'getUserProfile'
    ]),

    /**
     * @description Post a new message
     *
     * @returns boolean
     */
    async postMessage () {
      this.toggleSideBar(false)
      if (this.message && this.message.trim()) {
        this.isPosting = true
        await this.postMessageAction({
          message: this.messages[this.chatMate.id],
          senderId: this.USER_PROFILE.id,
          receiverId: this.chatMate.id,
          peerId: this.chatMate.peerId,
          stamp: new Date().getTime(),
          isResend: false
        })

        // We need to filter out the sent message from the draft
        const newMessages = {}
        let users = [...this.allUsers]
        for (let key in this.messages) {
          if (key !== this.chatMate.id) {
            newMessages[key] = this.messages[key]
          }
        }
        this.messages = newMessages
        this.message = ''
        this.isPosting = false
      }
    },
    changeHandler (event) {
      this.messages = { ...this.messages, [this.chatMate.id]: event.target.value }
      this.sendSignal(true)
    },

    /**
     * @description Shows an unsent message icon
     *
     * @param {String} userId the user Id
     */
    showUnsentMessageIcon (userId) {
      const users = [...this.allUsers]
      if (this.messages[userId]) {
        const { index } = users.find((user, index) => {
          if (user.id === userId) {
            user.index = index
            return user
          }
        })
        users[index].hasUnsentMessage = true
        this.$nextTick(() => this.updateUsersAction(users))
      }
    },

    /**
     * @description Send a signal to the connected peer
     *
     * @param {boolean} option
     */
    sendSignal (option) {
      this.peerModel.sendSignal({
        peerId: this.chatMate.peerId,
        userId: this.USER_PROFILE.id,
        type: this.peerModel.IS_TYPING,
        signal: option || false
      })
    }
  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
  margin: 0;
}

.fadein {
  -webkit-animation: fadein 4s;
      -moz-animation: fadein 4s;
      -ms-animation: fadein 4s;
        -o-animation: fadein 4s;
          animation: fadein 4s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.no-message-background {
  background-image: url("~@/assets/icon-no-message.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  height: 28rem;
  vertical-align: middle;
  width: 90%;
  display: inline-block;
}
.chat-wrapper {
  min-height: calc(100vh - 28rem)
}
.chat-pane {
  display: flex;
  flex-flow: column;
  -ms-flex-align: end;
  justify-content: space-between;
  max-height: calc(100vh - 205px);
  overflow: scroll;
}
.button {
  background: #90b42e;
  color: #fff;
  font-size: 0.7rem;
  padding: 10px 20px 10px 20px;
  border-radius: 9px;
  border: none;
  margin-top: 1px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0 2rem;
}
.button-wrapper > div {
  font-size: .8rem;
  color: #90b42e
}
.textarea {
  border: none;
  outline: none;
  padding: 1rem;
  width: 100%;
  min-height: 5rem;
}
.editor-wrapper {
  width: 87.5%;
  height: 100%;
  margin-left: 2.5rem;
}
.container {
  padding-top: 1.5rem;
  margin-top: 2rem;
  min-width: 100%;
  background-color: #f2f2f2;
}
.layout {
  display: grid;
  grid-template-columns: 28% 72%;
  background-color: #ffffff;
}
.sidebar {
  width: 0%;
  background-color: #1b1b1b !important;
  position: relative;
  transition: 0.5s;
}
.spinner {
  z-index: 5;
}
.spinner-wrapper {
  position: fixed;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 1.4s ease-in;
}
.sidebar-show {
  width: 100%;
}
.sidebar-hide {
  width: 0%;
}
@media only screen and (min-width: 1025px) {
  .sidebar {
    width: 100%;
  }
  .center {
    left: 60%;
  }
}
@media only screen and (max-width: 1024px) {
  .layout {
    grid-template-columns: 100%;
  }
  .sidebar {
    position: fixed;
    overflow: hidden;
    z-index: 1
  }
  .editor-wrapper {
    margin: auto;
    width: 87%;
  }
  .sidebar-show {
    width: 50%;
  }
  .spinner-wrapper {
    left: 42%
  }
}
@media only screen and (max-width: 660px) {
  .sidebar {
    width: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .sidebar-show {
    width: 100%;
  }
  .editor-wrapper {
    width: 94%;
  }
}
</style>
