<template>
  <div class="wrapper">
    <TopContainer v-bind:isSideBar="true">
      <span class="close" v-on:click="toggleSideBar()"><i class="fa fa-times"></i></span>
      <div class="search-form">
        <input
          type="search"
          class="search"
          placeholder="Search"
          v-model="search"
          v-on:input="filterUsers()"
        >
      </div>
    </TopContainer>
    <div class="chat-peers-list">
      <UserCard
        v-for="(user, index) in users"
        v-bind:user="user"
        v-bind:key="index"
        v-on:switchActiveChatMate="switchActiveChatMate(index)"
        v-on:showUnsentMessageIcon="(userId) => showUnsentMessageIcon(userId)"
        v-on:click.native="toggleSideBar()"
        v-bind:imageURL="imageURL"
      />
    </div>
  </div>
</template>
<script>
import TopContainer from '@/pages/Message/TopContainer'
import UserCard from '@/pages/Message/UserCard'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'SideContent',
  components: {
    TopContainer,
    UserCard
  },
  props: {
    toggleSideBar: {
      type: Function,
      required: true
    },
    allUsers: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      search: '',
      users: [],
      userId: null,
      imageURL: null,
      expert: null,
      searchedUsers: []
    }
  },

  created () {
    this.expert = this.checkExpert(this.allUsers)
    if (this.expert) {
      this.users = [this.expert, ...this.allUsers]
      this.updateUsersAction(this.users)
    } else {
      this.users = this.allUsers
    }
    this.$nextTick(() => {
      this.setActiveChatMate(false, this.users)
    })
  },

  watch: {
    allUsers (to, from) {
      if (to.length > 0) {
        this.$nextTick(() => (this.users = this.allUsers))
      }
    }
  },

  computed: {
    ...mapGetters(['allMessages', 'chatMate', 'USER_PROFILE', 'peerModel'])
  },

  methods: {
    /**
     * @description Emits the event which calls showUnsentMessageIcon to show message icon
     *
     * @param {String} userId the id of the supposed receiver of the unsent message
     */
    showUnsentMessageIcon (userId) {
      this.$emit('showUnsentMessageIcon', userId)
    },

    /**
     * @description Checks if the contacted expert exists as chat peers
     *
     * @param {Array} users an array of chat peers
     */
    checkExpert (users) {
      const expert = JSON.parse(localStorage.getItem('expertDetails'))
      if (expert) {
        const user = users.find(user => (user.id === expert.id))
        if (!user && expert.id) {
          expert.peerId = this.peerModel.getPeerId(expert)
          expert.unread_messages_count = 0
          expert.last_chat_date = this.peerModel.formatDate()
          expert.status = 'Offline'
          this.peerModel.connectPeer(expert.peerId)
          return expert
        }
      }
      return null
    },

    /**
     * @description Filters users based on search value
     */
    filterUsers () {
      this.searchedUsers = this.allUsers.filter(({ first_name: firstName, last_name: lastName }) => {
        return (this.searchByName(firstName) ||
        this.searchByName(lastName) ||
        this.searchByName(`${firstName} ${lastName}`) ||
        this.searchByName(`${lastName} ${firstName}`))
      })
      this.users = this.searchedUsers.length === 0 && !this.search
        ? this.allUsers
        : this.searchedUsers
    },

    /**
     * @description Get the index of the active chat mate
     *
     * @param {Array} allUsers array of chat peers/users
     */
    getActiveUserIndex (allUsers) {
      if (allUsers.length > 0) {
        const user = allUsers.find((user, i) => {
          if (user.id === this.$route.params.userId) {
            user.index = i
            return user
          }
        })
        return user ? user.index : -1
      }
    },

    /**
     * @description Toggles the display of the sidebar when a chat mate is clicked/selected
     */
    hideSideBar () {
      this.search = ''
      this.$emit('toggleSideBar', false)
    },

    /**
     * @description Highlight the active chat mate
     *
     * @param {Integer} index the index of the active chat mate
     */
    highlightActiveChatMate (index) {
      const users = this.users.map(user => {
        const { isActive, ...rest } = user
        return rest
      })

      // Assign isActive with a value of true to the clicked user
      // This keeps the active chat mate highlighted
      users[index].isActive = true

      // Hide the unsent message icon incase it is visible
      users[index].hasUnsentMessage = false

      this.chatMateAction(users[index])
      this.$emit('updatePageData') // Reset the pagination metadata
      return users
    },

    /**
     * @description Search for a user by first name or last name
     *
     * @param {String} name the name to search with
     */
    searchByName (name) {
      return this.search && name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
    },

    /**
     * @description Set the active chat mate
     *
     * @param {Boolean} showSpinner indicates if the spinner should be displayed
     * @param {String} userId the selected user id
     */
    setActiveChatMate (showSpinner, users) {
      this.switchActiveChatMate(this.getActiveUserIndex(users), showSpinner)
    },

    /**
     * @description Initiate chat and fetch previous chat history
     *
     * @param {Integer} index index of the selected chat peer
     * @param {Boolean} showSpinner indicate if user refreshes the browser
     */
    switchActiveChatMate (index, showSpinner = true) {
      if (this.users[index]) {
        const users = this.highlightActiveChatMate(index)
        this.$router.push({
          name: 'Message',
          params: { userId: users[index].id }
        })
        this.$nextTick(() => {
          this.users = users
          this.updateUsersAction (this.users)
          // Remember to always set the pagination metadata to; e.i., page = 1
          // This will ensure the most recent message(s) is/are displayed
          this.loadMessagesAction({ showSpinner, page: 1 })
        })
      }
    },
    ...mapActions([
      'loadMessagesAction',
      'updateUsersAction',
      'toggleSideBarAction',
      'chatMateAction'
    ])
  }
}
</script>
<style scoped>
.chat-peers-list {
  height: calc(100vh - 245px);
  overflow-y: auto;
  overflow-x: hidden;
}
.close {
  margin-top: -1.5rem;
  margin-right: -1rem;
  cursor: pointer;
}
.close .fa-times {
  color: #ffffff;
  font-size: 1.3rem;
}
.wrapper {
  position: relative;
}
.search::placeholder {
  color: #c4c4c4dc;
}
.sideBar-border {
  border: 3px solid #5e5d5d33;
}
.search-form {
  width: 88%;
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 8%;
  padding: 1rem 0;
  overflow: hidden;
}
.search {
  padding: 1.1rem 1.3rem;
  font-size: 0.92rem;
  outline: none;
  width: 100%;
  color: #cececedc;
  border: 0.1rem solid #58585883;
  background-color: transparent;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  border-radius: 0.6rem;
}
@media only screen and (min-width: 1025px) {
  .close {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .chat-peers-list {
    overflow-x: auto;
  }
}
</style>
