<template>
  <EcommerceSideBarLayout>
    <h2 class="pt-4 pb-4 pl-3">{{ title }}</h2>
    <Spinner v-if="isLoading && receipts.length === 0"/>
    <div class="pl-3" v-if="receipts.length === 0 && !isLoading">
      <p>You have not made any payments yet</p>
    </div>
    <div v-else>
      <PaymentDetails/>
      <ReceiptCard
        v-for="receipt in receipts"
        :key="receipt.id"
        :receipt="receipt"
      />
    </div>
  </EcommerceSideBarLayout>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import EcommerceSideBarLayout from '@/components/layout/EcommerceSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner'
import ReceiptCard from './ReceiptCard'
import PaymentDetails from '@/components/ui/paymentDetails/PaymentDetails.vue'

export default {
  name: 'Receipts',
  components: {
    EcommerceSideBarLayout,
    Spinner,
    ReceiptCard,
    PaymentDetails
  },
  data () {
    return {
      title: 'My Receipts'
    }
  },
  metaInfo () {
    return {
      title: 'Dairynomics - Receipts',
      meta: [
        {
          name: 'description',
          content: 'Dairynomics Receipts'
        },
        {
          property: 'og:title',
          content: 'Dairynomics Receipts'
        },
        { property: 'og:type', content: 'website' }
      ]
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.AllReceipts.isLoading,
      receipts: state => state.AllReceipts.receipts.reverse()
    })
  },
  methods: {
    ...mapActions(['getAllReceipts'])
  },
  created () {
    this.getAllReceipts()
  }
}
</script>
