<template>
  <div class="share-container">
    <p class="share-message">Share with my friends</p>
    <div v-if="!loading" class="share-icon-group">
      <span class="facebook-icon" @click="createCanvasImage()">
        <i class="fab fa-facebook-square" style="color:#2E40A8"></i>
      </span>
      <social-sharing
        :url="shareURL"
        image="https://res.cloudinary.com/dcsrepenv/image/upload/v1554390150/shareimage.png"
        :title="twitterTitle"
        description="You will leave here a better farmer, We promise."
        quote="dairynomics"
        hashtags="farm,Dairynomics,Cows"
        twitter-user=""
        inline-template
      >
        <div class="share-icons">
          <network class="pl-3" network="twitter">
            <i class="fab fa-twitter" style="color:#06B0E9"></i>
          </network>
          <network class="pl-3" network="whatsapp">
            <i class="fab fa-whatsapp" style="color:#557D38"></i>
          </network>
        </div>
      </social-sharing>
      <!-- </div> -->
    </div>
    <div>
    <i class="fa fa-spinner fa-spin" style="color:#2E40A8" v-if="loading" icon="spinner" spin />
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SocialMediaShare',
  data () {
    return {
      img: '',
      title: '',
      description: '',
      loading: false
    }
  },
  props: {
    farmPerformance: {
      type: Object
    },
    shareText: {
      type: String
    }
  },

  computed: {
    ...mapGetters({
      shareGetterData: 'shareGetterData',
      imageGetterData: 'imageGetterData'
    }),
    twitterTitle () {
      return `Amazing! My farm's performance is ${this.farmPerformance.result}. ${this.shareText}.`
    },
    shareURL () {
      return `https://dairynomics.netlify.com${this.$route.path}`
    }
  },

  watch: {
    imageGetterData (newValue, oldValue) {
      if (newValue) {
        return this.defineShareContent()
      }
    }
  },

  mounted () {
    this.img = new Image()
    this.img.src = require(`@/assets/shareimage.png`)
    this.img.setAttribute('crossOrigin', 'anonymous')
  },

  methods: {
    drawCanvasText () {
      const canvas = document.querySelector('canvas')
      const ctx = canvas.getContext('2d')
      ctx.fillStyle = '#520112'
      ctx.textBaseline = 'middle'
      ctx.font = 'bold 200px Comfortaa'
      ctx.fillText('Amazing!', 900, 400)
      ctx.font = '90px Comfortaa'
      const performanceTextShare = `My farm's performance is ${
        this.farmPerformance.result
      }`
      ctx.fillText(performanceTextShare, 900, 580)
      ctx.fillText(this.shareText, 900, 700)
    },
    fillCanvasWithImage (img) {
      const canvas = document.querySelector('canvas')
      const ctx = canvas.getContext('2d')
      canvas.width = img.width
      canvas.height = img.height
      ctx.fillStyle = 'rgb(255, 0, 0, 0.4)'
      ctx.fillStyle = 'rgba(30, 144, 255, 0.4)'
      ctx.fillRect(0, 0, canvas.width, canvas.height)
      ctx.drawImage(img, 0, 0)
      this.drawCanvasText()
    },
    createCanvasImage () {
      this.loading = true
      this.fillCanvasWithImage(this.img)
      const canvas = document.querySelector('canvas')
      const imageDataUrl = canvas.toDataURL('image/png')
      this.$store.dispatch('imageUpload', imageDataUrl)
    },
    shareOverrideOGMeta (overrideTitle, overrideDescription, overrideImage) {
      /* global FB */
      FB.ui(
        {
          method: 'share',
          href: `https://dairynomics.netlify.com${this.$route.path}`,
          action_type: 'og.likes',
          action_properties: JSON.stringify({
            object: {
              'og:title': overrideTitle,
              'og:description': overrideDescription,
              'og:image': overrideImage
            }
          })
        }
      )
    },
    defineShareContent () {
      this.loading = false
      this.$store.commit('FACEBOOK_LOADING', false)
      let image = ''
      this.title = 'Is your farm performing well?'
      this.description =
        "Find out your farm's performance and how to improve it on Dairynomics"
      image = this.shareGetterData.sharedImage
      this.shareOverrideOGMeta(this.title, this.description, image)
    }
  }
}
</script>

<style scoped>
.share-container {
  position: relative;
  font-size: 90%;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.share-icon-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  flex-direction: row;
}
.facebook-icon {
  text-decoration: none;
  font-size: 1.3rem;
  color: inherit;
  cursor: pointer;
}
.share-icons {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
  margin: 0% 2%;
  cursor: pointer;
}
.share-icons i {
  font-size: 130%;
}
.share-icons a {
  text-decoration: none;
  color: inherit;
  margin: 0% 1%;
}
</style>
