<template>
  <div>
    <p class="composition">Herd Growth</p>
    <h5>Here's how your total herd will grow yearly.</h5>
    <div class ='definition p-3' v-if="calvingDefinition">
      <i class="fas fa-info-circle"></i>
      <h6>DEFINITION: {{calvingPercentage.definitionHeader}}</h6>
      <span class="definition-body d-inline-flex">{{calvingPercentage.definitionBody}}</span>
    </div>
    <form @submit.prevent="herdSubmit">
      <div class="inputs">
        <span>
          <IntegerInput
            id="numberOfCows"
            v-model="$v.herdGrowth.numberOfCows.$model"
            :autofocus="true"
            @blur="$v.herdGrowth.numberOfCows.$touch()"
            placeholder="0"
          />
          <p class="label">No of cows starting</p>
        </span>
        <span>
          <IntegerInput
            id="percentage"
            v-model="$v.herdGrowth.calvingPercentage.$model"
            :placeholder="defaultValue"
          />
          <p class="label">Calving Percentage</p>
        </span>
      </div>
      <div class="error-message">
        <p v-if="$v.herdGrowth.numberOfCows.$error">
          <span v-if="!$v.herdGrowth.numberOfCows.required "
          >Number of cows should be digits and is required</span>
          <span v-else-if="!$v.herdGrowth.numberOfCows.minValue"
          >Number of cows to start with should be greater than zero </span>
        </p>
        <p v-else-if="$v.herdGrowth.calvingPercentage.$error">
          <span v-if="!$v.herdGrowth.calvingPercentage.between"
          >Calving percentage must be from 70% to 100% </span>
        </p>
      </div>
      <AppButton
        :disabled="$v.$invalid"
      >
        See Results &#x2192;
      </AppButton>
    </form>
  </div>
</template>

<script>
import { required, between, minValue } from 'vuelidate/lib/validators'
import { definitionMixins } from '@/mixins/definitionMixins.js'
import AppButton from '@/components/ui/AppButton'
import IntegerInput from '@/components/ui/IntegerInput'

export default {
  name: 'HerdAnnual',
  mixins: [definitionMixins],
  data () {
    return {
      defaultValue: '70%',
      herdGrowth: {
        calvingPercentage: null,
        numberOfCows: ''
      },
      herd: null
    }
  },
  computed: {
    percentageHerd () {
      return this.herdGrowth.calvingPercentage
        ? this.herdGrowth.calvingPercentage
        : 70
    }
  },
  methods: {
    growthHerd: function (
      startCows = this.herdGrowth.numberOfCows,
      endYear = 5,
      percentage = this.percentageHerd
    ) {
      let calves = 0
      let heifers = 0
      let totalCows = 0
      let herdCow = []
      let year
      for (year = 1; year <= endYear; year++) {
        startCows += heifers
        heifers = calves
        calves = 0
        calves += parseInt(startCows * (percentage / 100))
        totalCows = startCows + calves + heifers
        herdCow.push({
          year: year,
          cows: startCows,
          calves: calves,
          heifers: heifers,
          total: totalCows
        })
      }
      this.herds = herdCow
    },
    herdSubmit () {
      this.growthHerd()
      this.$emit('herd', this.herds)
      this.$emit('submit', {
        numberOfCows: this.numberOfCows,
        calvingPercentage: this.calvingPercentage
      })
    }
  },
  validations: {
    herdGrowth: {
      numberOfCows: {
        required,
        minValue: minValue(1)
      },
      calvingPercentage: {
        between: between(70, 100)
      }
    }
  },
  components: {
    AppButton,
    IntegerInput
  }
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
    line-height: 1.6;
  }

  .composition {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  .inputs {
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem;
  }

  .inputs span {
    display: inline-block;
    flex-basis: 7rem;
    border-right: 0.03rem solid #eee;
  }

  .inputs :last-child {
    border: none;
  }

  h5 {
    min-width: 16rem;
    width: 80%;
    max-width: 28rem;
    margin: auto;
  }

  a {
    display: inline-block;
    color: #88af00;
    font-size: 0.87rem;
    margin-top: 1rem;
  }

  a:hover {
    color: #88af00;
  }

  .error-message {
    font-size: 0.75rem;
    height: 2.2rem;
  }

  .error-message * {
    color: #ff0000;
    margin: 0;
  }

  .label {
    font-size: 0.6rem;
    margin: 0;
  }

  .definition {
    background-color: #E9EFCD;
    margin: 0.8rem auto;
    max-width: 20rem;
    border-radius: 0.4rem;
    font-family: 'Comfortaa-regular';
    font-size: 0.7rem;
  }

  .definition .fa-info-circle {
    font-size: 1.1rem;
    margin-right: 0.4rem;
    color: #88af00;
  }

  .definition h6 {
    display: inline;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 0.4rem;
  }

  .definition-body {
    font-size: 0.73rem;
    margin-top: 0.4rem;
  }

  #numberOfCows::placeholder,
  #percentage::placeholder {
    color: #88af00;
  }

  @media only screen and (max-width: 400px) {
    h5 {
      font-size: 1.05rem;
    }
  }
</style>
