<template>
  <div class="pub-list-item column column-lg-4">
    <div class="content-holder">
      <div class="top-section">
        <div class="image">
          <img
            v-show="imageError"
            src="~@/assets/pub-image-placeholder.png"
            @click="singlePublication()"
            :alt="title"
          >
          <img
            v-show="!imageError"
            :src="thumbnail"
            @click="singlePublication()"
            :alt="title"
            @error="imageError = true"
          >
        </div>
      </div>
      <div class="bottom-section">
        <div class="info">
          <div class="name" @click="singlePublication()">{{ title }}</div>
          <div class="author">Author: {{ author }}</div>
        </div>
        <div class="action">
          <button
            class="normal"
            @click="$emit('download-publication'); markProgress()"
            v-html="downloadButtonContent"
          ></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PublicationListItem',
  data () {
    return {
      downloadClicked: false,
      imageError: false
    }
  },
  props: {
    title: { type: String, required: true },
    author: { type: String, required: true },
    thumbnail: { type: String, required: false },
    isDownloading: { type: Boolean, required: true },
    publicationDetails: { type: Object, required: true }
  },
  computed: {
    downloadButtonContent () {
      const downloadButtonContent =
        this.downloadClicked && this.isDownloading
          ? '<i class="fas fa-spinner fa-spin"/>'
          : 'Download'
      return downloadButtonContent
    }
  },
  watch: {
    isDownloading (to, from) {
      if (this.isDownloading === false && this.downloadClicked) {
        this.downloadClicked = false
      }
    }
  },
  methods: {
    markProgress () {
      this.downloadClicked = true
    },
    singlePublication () {
      return this.$router.push({
        path: `/publications/${this.publicationDetails.id}`,
        params: { publicationDetails: this.publicationDetails }
      })
      // return window.location.href
    }
  }
}
</script>

<style scoped lang="scss">
button {
  background-color: #88af00;
  padding: 5px 10px;
  border: none;
  color: white;
}

button {
  outline: none;
  appearance: none;
  transition: background-color 0.8s ease-in-out;

  &:hover {
    background-color: #6f8c08;
  }
}

.pub-list-item {
  padding: 15px;
  img {
    max-width: 300px;
    width: 100%;
    min-height: 200px;
    min-width: 100%;
    border: 1px solid #ccc;
  }
  .info {
    .name {
      font-size: 20px;
      color: #88af00;
      margin-top: 10px;
      font-weight: bold;
      cursor: pointer;
    }
    .author {
      margin-top: 10px;
      font-size: 15px;
      color: #581022;
    }
  }
  .action {
    margin-top: 10px;
    button {
      width: 140px;
    }
  }
}

// tablet portrait
@media only screen and (min-width: 40em) {
  .items-list {
    margin-bottom: 80px;
  }
  .pub-list-item {
    .top-section {
      max-width: 300px;
      cursor: pointer;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .bottom-section {
      flex: 1;
      padding-left: 20px;
    }
  }

  header {
    .column {
      padding: 0px;
    }

    margin-bottom: 40px;
  }
}

// large screens - tablets landscape and desktop
@media only screen and (min-width: 60em) {
  .column-lg-4 {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }

  .wrapper {
    padding-right: 4.5%;
  }

  // .items-list {
  //   margin-bottom: 200px;
  // }

  .pub-list-item {
    img {
      // min-height: 380px;
    }
    .content-holder {
      display: block;
    }
    .top-section {
      max-width: 300px;
      cursor: pointer;
      float: none;
      margin-right: 0;
      margin-bottom: 0;
    }
    .bottom-section {
      padding-left: 0px;

      .info {
        // min-height: 200px;
      }
    }
  }
}
</style>
