<template>
  <div>
    <Spinner v-if="getExpertLoadingState" />
    <div class="container user-profile " v-if="getExpertProfileInformation.getExpertProfile.profile && !getExpertLoadingState">
      <div class="profile-header">
        <div class="expert-detail-info">
          <h3
            class="expert-detail"
          >{{getExpertProfileInformation.getExpertProfile.first_name +' '+getExpertProfileInformation.getExpertProfile.last_name}}</h3>
          <h5 id="county">{{getExpertProfileInformation.getExpertProfile.county + ' '+'county'}}</h5>
        </div>
        <div v-if='getExpertProfileInformation.getExpertProfile.expert_category' class="profile-specialist text-right">
          <p id='special'>Specialist in</p>
          <h5
            class="expert-category"
          >{{getExpertProfileInformation.getExpertProfile.expert_category}}</h5>
        </div>
      </div>
      <div class="details">
        <div class="row general">
          <div class="col-md-6 image">
            <img :src="this.profilePic" alt>
          </div>
    <div class="col-md-6 expert-details">
    <ul>
    <li class="mt-2">
      <h5>Details</h5>
    </li>
    <li class="col-md-12 col-sm-12 mt-2">
      <div class="row">
        <div class="col-md-4 col-6 profile">
          <p>Course:</p>
        </div>
        <div class="col-md-6 col-6 data">
          <p>{{getExpertProfileInformation.getExpertProfile.course_studied}}</p>
        </div>
      </div>
    </li>
    <li class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-4 col-6 profile">
          <p>Institution:</p>
        </div>
        <div class="col-md-6 col-6 data">
          <p>{{getExpertProfileInformation.getExpertProfile.institution}}</p>
        </div>
      </div>
    </li>
    <li class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-4 col-6 profile">
          <p>Training Level:</p>
        </div>
        <div class="col-md-6 col-6 data">
          <p>{{getExpertProfileInformation.getExpertProfile.training_level}}</p>
        </div>
      </div>
    </li>
    <li v-if='getExpertProfileInformation.getExpertProfile.start_date' class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-4 col-6 profile">
          <p>From:</p>
        </div>
        <div class="col-md-5 col-6">
          <p>{{getExpertProfileInformation.getExpertProfile.start_date +' to '+ getExpertProfileInformation.getExpertProfile.finish_date || 'No date provided'}}</p>
        </div>
      </div>
    </li>
  </ul>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <p>{{expertBio || 'Currently has no bio information'}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row contact-button-details">
          <div class="col-md-12 contact-button">
            <ContactButton :buttonDetails="buttonDetails"
            @click.native="contactExpertURL()"
          />
          </div>
        </div>
      </div>
      <a href="#" class="other-experts" @click="$router.push(`/experts/county`)">
        Other experts
        <i class="fas fa-long-arrow-alt-right"></i>
      </a>
    </div>
    <p
      id="error-message"
      v-if="getExpertProfileInformation.ExpertProfileError"
    >{{getExpertProfileInformation.ExpertProfileError}}</p>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ContactButton from '@/components/ui/ContactButton'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'ExpertUserProfile',
  props: {
    contactExpertURL: {
      type: Function,
      required: true
    }
  },
  data () {
    return {
      expertBio: '',
      profilePic: '',
      buttonDetails:
        '<i class="fas fa-envelope"></i> <span icon="envelope">Contact Expert</span>'
    }
  },
  metaInfo () {
    const expertProfile = this.getExpertProfileInformation.getExpertProfile
    const fullName = expertProfile ? `${expertProfile.first_name} ${expertProfile.last_name}` : ''
    return {
      title: `Dairynomics - Expert Profile of ${fullName}`,
      meta: [
        {
          name: 'description',
          content: `Dairynomics - ${fullName} (Expert Profile)`
        },
        {
          property: 'og:title',
          content: `Dairynomics - ${fullName} (Expert Profile)`
        },
        { property: 'og:type', content: 'website' },
        {
          property: 'og:url',
          content: `https://www.cowsoko.com/expert/profile/${this.$route.params.id}`
        },
        {
          property: 'og:image',
          content: `${expertProfile.profile && expertProfile.profile.pic}`
        },
        {
          property: 'og:description',
          content: `Dairynomics - ${fullName} (Expert Profile)`
        }
      ]
    }
  },
  components: {
    ContactButton,
    Spinner
  },
  computed: {
    ...mapGetters(['getExpertProfileInformation', 'getExpertLoadingState'])
  },
  methods: {
    ...mapActions(['expertProfile'])
  },
  async created () {
    await this.expertProfile(this.$route.params.id)
    const { pic, bio } = this.getExpertProfileInformation.getExpertProfile.profile || {}
    this.profilePic = pic
    this.expertBio = bio
  }
}
</script>

<style scoped>
ul {
  color: rgb(81, 0, 18)
}
.expert-details ul {
  list-style: none;
  font-size: 16px;
  margin-top: 23px;
  margin-bottom: 0%;
  margin-right: -31px;
  margin-left: -77px;
}
.expert-details ul li {
  display: inline-block;
  padding: 0%;
}
.expert-details ul li p {
 display: inline-block;
 justify-content: left;
 margin-bottom: 4px;
 font-size: 15px;
}
.expert-details h5 {
  color:rgb(175, 175, 175)
}
img {
  display: block;
  width: 80%;
  height: auto;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 21px;
  background-color: #a3c34e;
}
.profile{
  margin-bottom: 0px !important;
  font-size: 14px;
  max-width: 150px;
}
.information {
  margin-top: 21px;
  padding-left: 0px;
}
#error-message {
  color: red;
  text-align: center;
  font-weight: 14px;
  font-size: 14px;
  padding-bottom: 17px;
}
.card {
  -webkit-box-shadow: 0 0 10px #FFFFFF;
  box-shadow: 0 0 10px #FFFFFF;
  border: none;
  margin-top: 15px;
  margin-left: -34px;
  margin-right: -25px;
  color: rgb(81, 0, 18);
}
.image{
    margin-right: 37px;
    margin-left: -21px;
}
.card-body {
  text-align: justify;
  background-color: #F4F7EA;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 14px;
  line-height: 160%;
}
.details {
  -webkit-box-shadow: 0 0 20px rgb(234, 239, 208);
  box-shadow: 0 0 20px rgb(234, 239, 208);
  border-radius: 12px;
  width: 100%;
  margin-top: 4%;
  background-color: white;
  margin-bottom: 15px;
}
.expert-detail {
  color: #480010;
}
.expert-category {
  color: #88af00;
}
#user {
  color: #b6b6b6 !important;
  padding-left: 5px;
}
.general {
    margin-top: 10px;
    margin-right: 23px;
    margin-bottom: 100px;
    padding: 20px 10px 0;
}
.specialist {
  color: #88af00;
}
.user-profile {
  margin: 0 auto;
  max-width: 100%;
}
.user-profile .contact-seller-button{
  padding: 30px;
  font-size: 30px;
}
.profile-header {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 21px;
  width: 100%;
}
.profile-specialist {
  border-radius: 1px;
}
.other-experts {
  color: #88af00;
  text-align: center;
  font-size: 18px;
  font-weight: 14px;
  margin: 20px auto;
  display: block;
}

.other-experts:hover {
  text-decoration: none;
}

.other-experts i{
  margin-left: 2px;
}
.expert-details{
  margin-left: -20px;
  font-size: 14px;
}
#county {
  color: #b6b6b6;
}
.expert-details ul li:first-of-type{
  display: inline-block;
}

.data {
  padding-left: 0
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1024px) {
  .details {
    width: 100%;
    padding-left: 60px;
  }
  .general {
    margin-bottom: -151px;
  }
  img {
    width: 200px;
    height: 200px;
    margin-right: 36px
  }
  .image {
   padding-left: 0px;
    margin-left: -28px;
  }
  .expert-details ul{
    list-style: none;
    font-size: 12px;
    margin-top: 23px;
    margin-right: -83px;
    margin-left: -59px;
  }
  .contact-button-details {
    margin-left: -76px;
  }
  .contact-button {
    margin-top: 57px;
  }
  .card {
    margin-bottom: 164px;
    margin-top: 19px;
    margin-left: -21px;
    margin-right: -31px;
  }

  .profile-header {
    width: 100%;
  }
}
@media only screen and (min-device-width: 601px) and (max-device-width: 799px) {
  .details {
    width: 100%;
  }
  .general {
    margin-bottom: -151px;
  }
  .expert-details ul li p{
    font-size: 13px
  }
  .expert-details ul li h5{
   font-size: 16px
  }

  img {
    display: block;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 24px;
    background-color: #a3c34e;
  }
  .card {
    margin-bottom: 164px;
    margin-top: 19px;
  }
  .card-body{
    font-size: 12px;
  }
  .profile-header {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 21px;
    width: 100%;
  }
  .profile-specialist {
    border-radius: 1px;
  }
  .other-experts {
    padding-bottom: 20px;
  }
  .contact-button {
    margin-top: 63px;
  }
}
@media only screen and (max-width: 767px) {
  .general{
    margin-right: 0;
    margin-left: 0;
    padding: 20px 5px 0
  }

  .image{
    margin: 0 auto;
  }

  .expert-details{
    margin-left: 0;
  }

  .expert-details, .image{
    margin-left: 15px;
  }

  .expert-details ul{
    margin: 23px auto 0;
    padding: 0;
  }

  .expert-details ul li:first-of-type{
    display: block;
    text-align: center;
  }

  .card{
    margin-left: 0;
    margin-right: 0;
  }

  .profile{
   display: flex;
   justify-content: flex-start;
   max-width: 50%;
  }

  img {
    width: 170px;
    height: 170px;
  }
}
@media only screen and (max-width: 600px) {
  .user-profile{
    padding: 0;
  }
  .profile-header {
    margin-top: 21px;
    width: 100%;
    padding: 0 5px;
  }
  .back-button {
    color: #88af00;
    border: 2px solid #88af00;
    width: 78%;
    border-radius: 40px;
    padding: 0px;
    margin-left: 48px;
  }
  .details {
    width: 100%;
  }
  .updates{
    margin-bottom: 0px;
  }
  img {
    display: block;
    width: 164px;
    height: 164px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 21px;
    background-color: #a3c34e;
    padding-right: -8px;
  }
  .general {
    margin-bottom: 15px;
  }
  .other-experts {
    color: #88af00;
    font-size: 14px;
    font-weight: 14px;
    margin-top: 20px;
  }
  .expert-category {
    display: inline;
  }

  .contact-button {
    margin-top: 40px;
  }
  .information {
    font-size: 14px;
  }
  .expert-detail {
    font-size: 15px;
  }
  #county {
    font-size: 15px;
  }
  #special {
    margin: 0;
  }
  .expert-details ul{
    list-style: none;
    font-size: 10px !important;
    margin-top: 23px;
    margin-bottom: 0%;
  }
  .expert-details ul li p{
    font-size: 12px
  }
  .expert-details ul li h5{
   font-size: 14px
  }
  .card-body{
    font-size: 13px;
  }
  .image, .expert-details{
    margin: 0 auto;
  }
}
</style>
