<template>
<div>
  <Spinner class="modal-loader" v-if="isLoading" />
  <div class="modal-header pt-5 pl-4 pr-4">
    <div class="flex-fill col-lg-4 col-md-4 col-sm-8">
      <div class="d-flex flex-column">
        <img class="dairynomics-logo" src="~@/assets/logo.svg" />
      </div>
    </div>
    <div class="flex-fill col-lg-4 col-md-4 col-sm-4">
      <div class="d-flex flex-column pt-2">
        <div class="text-right dn-green">
          <a v-if="isLoading === false" title="download receipt"
            class="download"
            @click="downloadReceipt(receipt.id)">
            <i :class="[isDownloading ? 'fas fa-spinner fa-spin' : 'far fa-file-pdf', 'fa-2x']"></i>
          </a>
          <span
            slot="close"
            aria-hidden="true"
            class="close-modal pl-4"
            v-on:click="closeModal"
          ><i class="fas fa-2x fa-times"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div slot="receipt" class="p-5">
    <h1 class="mb-5">Receipt {{receipt.invoiceNumber}}</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-12 mb-4 text-dark">
        <div class="d-flex flex-column align-self-center">
          <div class="mb-3">BILLING INFORMATION</div>
          <div class="text-muted">{{billing.fullName}}</div>
          <div class="text-muted">{{billing.phoneNumber}}</div>
          <div class="text-muted">{{billing.address}}</div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 mb-4 text-dark">
        <div class="d-flex flex-column align-self-center">
          <div class="mb-3">PAYMENT DETAILS</div>
          <div class="text-muted">{{billing.fullName}}</div>
          <div class="text-muted">{{billing.phoneNumber}}</div>
          <div class="text-muted">{{billing.address}}</div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 mb-4 text-dark">
        <div class="d-flex flex-column align-self-center">
          <div class="mb-3">RECEIPT DETAILS</div>
          <div class="text-muted">Receipt No: {{receipt.invoiceNumber}}</div>
          <div class="text-muted text-capitalize">Status: {{receipt.paymentStatus}}</div>
          <div class="text-muted">Date: {{getDate(receipt.createdAt)}}</div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">DESCRIPTION</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">PRICE</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-muted hover" v-for="orderItem in orderItems" :key="orderItem.id">
              <td>{{ orderItem.product.productName }} - {{ orderItem.product.description }}</td>
              <td>{{ orderItem.quantity }}</td>
              <td>{{ getAmount(orderItem.amount, '') }}</td>
            </tr>
            <tr>
              <td class="h4 text-right pt-4 dn-green" colspan="3">
                <span class="mr-4">TOTAL</span> {{getAmount(receipt.amountToBePaid)}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import { mapActions } from 'vuex'
import { amountAndDateFormatterMixin } from '@/mixins/amountAndDateFormatterMixin'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'PaymentReceipt',
  components: {
    Spinner
  },
  methods: {
    ...mapActions(['downloadReceipt']),
    closeModal () {
      this.$emit('closeModal')
    }
  },
  mixins: [amountAndDateFormatterMixin],
  props: ['receipt', 'orderItems', 'billing', 'isLoading', 'isDownloading']
}
</script>

<style scoped>
.close-modal, .download {
  cursor: pointer;
  z-index: 9999;
}
span.close-modal:hover {
  color: red;
}
.modal-loader {
  display: block;
  position: fixed;
  z-index: 1031;
  right: 0%;
  top: 20%;
  opacity: 0.6
}
.dn-green, .download {
  color: rgba(144, 180, 46);
}
.download :hover {
  color: rgba(144, 180, 46, 0.6);
}
tbody tr.hover:hover {
   background-color: rgba(194, 240, 68, 0.4);
   cursor: pointer;
}
.modal-header {
  padding: 0;
  border: none;
}
.modal-header button {
  border-radius: 0;
  background-color: #4A4A4A;
  color: white;
  padding-top: 12px;
  border: none;
}
.modal-header button:focus {
  outline: none;
}
</style>
