<template>
  <div>
    <p class="composition">Date of first calving </p>
    <h5>What is the age at first calving?</h5>
    <div class ='definition p-3' v-if="calvingDefinition">
      <i class="fas fa-info-circle" style="color:#88af00"></i>
      <h6>DEFINITION: {{calvingDefinition.definitionHeader}}</h6>
      <span class = "definition-body d-inline-flex">
      {{calvingDefinition.definitionBody}}
      </span>
    </div>
    <div class="inputs">
      <span>
        <IntegerInput
          @enter="handleSubmit"
          v-model="calvingResult"
          :autofocus="true"
        />
        <p class="label">Months</p>
      </span>
    </div>
    <div class="error-message">
      <p>{{validator.message}}</p>
    </div>
    <AppButton
      :disabled="isDisabled"
      @click="handleSubmit"
    >
      See Results &#x2192;
    </AppButton>
  </div>
</template>

<script>
import AppButton from '@/components/ui/AppButton'
import IntegerInput from '@/components/ui/IntegerInput'
import validatorHelper from '@/utils/validators/calvingAgeValidators'
import { definitionMixins } from '@/mixins/definitionMixins.js'

export default {
  name: 'BaseCalving',

  mixins: [definitionMixins],

  data () {
    return {
      calvingResult: this.ageOfCalving,
      validator: {
        isError: false,
        message: ''
      }
    }
  },

  methods: {
    handleSubmit () {
      !this.isDisabled && this.$emit('submit', this.calvingResult)
    }
  },

  watch: {
    calvingResult: function (value) {
      this.validator = validatorHelper(value)
    }
  },

  computed: {
    isDisabled () {
      return this.validator.isError || this.calvingResult === ''
    }
  },

  props: {
    ageOfCalving: {
      default: 0
    }
  },

  components: {
    AppButton,
    IntegerInput
  }
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
    line-height: 1.6;
  }

  .composition {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  .inputs {
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem;
  }

  .inputs span {
    display: inline-block;
    flex-basis: 7rem;
    border-right: 0.03rem solid #eee;
  }

  .inputs :last-child {
    border: none;
  }

  h5 {
    min-width: 16rem;
    width: 80%;
    max-width: 28rem;
    margin: auto;
  }

  a {
    display: inline-block;
    color: #88af00;
    font-size: 0.87rem;
    margin-top: 1rem;
  }

  a:hover {
    color: #88af00;
  }

  .error-message {
    font-size: 0.75rem;
    height: 2.2rem;
  }

  .error-message * {
    color: #ff0000;
    margin: 0;
  }

  .label {
    font-size: 0.6rem;
    margin: 0;
  }

  .definition {
    background-color: #E9EFCD;
    margin: 0.8rem auto;
    max-width: 20rem;
    border-radius: 0.4rem;
    font-family: 'Comfortaa-regular';
    font-size: 0.7rem;
  }

  .definition .fa-info-circle {
    font-size: 1.1rem;
    margin-right: 0.4rem;
    color: #88af00;
  }

  .definition h6 {
    display: inline;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 0.4rem;
  }

  .definition-body {
    font-size: 0.73rem;
    margin-top: 0.4rem;
  }

  @media only screen and (max-width: 400px) {
    h5 {
      font-size: 1.05rem;
    }
  }
</style>
