<template>
  <div>
    <div class = 'social-share'>
        <span>share with my friends</span>
        <div class="social-icon">
            <i class="fab fa-facebook-square" style="color:#2E40A8"></i>
            <i class="fab fa-twitter" style="color:#06B0E9"></i>
            <i class="fab fa-whatsapp" style="color:#557D38"></i>
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'socialIconComponent'
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
  }

  .composition {
    font-size: 14px;
  }
</style>
