<template>
  <div class="comment-card" :id="generateId(comment.id)">
    <i :class="['fa fa-user-circle',  isReply?'fa-2x':'fa-3x', 'mr-2 color-primary']"></i>
    <div class="comment-card__content">
      <p class="comment-card__content-body">
        <span
          class="comment-card-user"
        >{{comment.created_by && comment.created_by.first_name}} {{comment.created_by && comment.created_by.last_name}}</span>
        {{comment.comment || comment.reply}}
      </p>
      <div class="comment-actions">
        <span
          @click="likeComment(comment)"
          :class="['mr-2 small icon-text btn-like', {'color-primary':inLikes(comment.user_likes)}]"
          :disabled="comment.liking"
        >
          <i class="far fa-thumbs-up"></i>
          {{comment.likes}}
        </span>
        <span class="mr-2 pl-1 small icon-text btn-reply" @click="toggleReplying()">
          Reply
          <i class="far fa-comment colored-icon"></i>
        </span>
        <span
          v-if="comment.created_by && comment.created_by.id === userId"
          class="mr-2 pl-1 small icon-text btn-edit"
          :disabled="comment.editing"
          @click="toggleEditing"
        >
          Edit
          <i class="fas fa-edit colored-icon"></i>
        </span>
        <span
          @click="onDelete(comment)"
          v-if="comment.created_by && comment.created_by.id === userId"
          class="mr-2 pl-1 small icon-text btn-delete"
          :disabled="comment.deleting"
        >
          Delete
          <i class="fa fa-trash colored-icon"></i>
        </span>
        <span
          class="mr-3 pl-1 small icon-text"
        >{{(comment.created_at && comment.created_at.date)|moment('subtract', "60 minutes", "from")}}</span>
      </div>
      <CommentInput
        nested
        :isReplying="replying"
        placeholder="Change comment"
        buttonText="Update Comment"
        :comment="comment.comment || comment.reply"
        :commentId="comment.id"
        v-on:submitComment="editComment"
        v-if="editing"
      />
      <slot
        v-on:replying="toggleReplying"
        :isReplying="replying"
        :editing="editing"
        v-on:cancelComment="cancelComment"
      ></slot>
      <CommentInput
        v-on:submitComment="submitComment"
        v-on:cancelComment="cancelComment"
        v-if="!isReply && replying"
        :placeholder="'Add a reply'"
        nested
      />
    </div>
    <ConfirmDialog v-if="deleting" @onConfirm="onConfirm"/>
  </div>
</template>

<script>
import CommentInput from './CommentInput'
import ConfirmDialog from './ConfirmDialog'

export default {
  components: {
    CommentInput,
    ConfirmDialog
  },
  props: {
    userId: {
      type: String,
      default: ''
    },
    comment: {
      type: Object,
      default: () => ({
        created_at: {
          date: '2019-01-01'
        }
      })
    },
    isReply: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      replying: false,
      editing: false,
      replyBody: '',
      commentToDelete: '',
      replyToDelete: '',
      deleting: false
    }
  },
  methods: {
    inLikes (likes) {
      return likes ? likes.includes(this.userId) : false
    },
    toggleReplying () {
      if (this.isReply) {
        this.$parent.toggleReplying()
      } else {
        this.replying = !this.replying
      }
    },
    toggleEditing () {
      this.editing = !this.editing
    },
    submitComment (commentId, body) {
      this.$emit(
        'onReply',
        commentId || (this.comment && this.comment.id),
        body
      )
      this.toggleReplying()
    },
    cancelComment () {
      this.replying = false
    },
    onConfirm (confirmed) {
      if (confirmed) {
        this.deleteComment()
      }
      this.commentToDelete = ''
      this.replyToDelete = ''
      this.deleting = false
    },
    onDelete (comment, reply) {
      this.commentToDelete = comment
      this.replyToDelete = reply
      this.deleting = true
    },
    deleteComment (comment, reply) {
      this.deleting = false
      if (this.isReply) {
        this.$parent.deleteComment(this.$parent.comment, this.comment)
      } else {
        this.$parent.deleteComment(this.comment, reply)
      }
    },
    editComment (commentId, body, isReply) {
      this.$parent.editComment(commentId, body, isReply)
    },
    likeComment (comment, isReply) {
      if (this.isReply) {
        this.$parent.likeComment(this.comment, true)
      } else {
        this.$parent.likeComment(comment, isReply)
      }
    },
    generateId (id) {
      return `record-${id}`
    }
  }
}
</script>

<style lang="scss" scoped>
.comment-card {
  padding: 0.6rem 0;
  display: flex;
  width: 100%;
}
.user-icon {
  color: #3d4231;
}
.comment-card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-card__content-body {
  color: rgba(0, 0, 0, 0.7);
  font-weight: lighter;
  margin-bottom: 0;
  font-size: 1rem;
}
.comment-card-user {
  color: #000;
  font-weight: 600;
}
.comment-actions span {
  cursor: pointer;
  font-size: 0.6rem;
}
@media screen and (max-width: 500px) {
  .fa-user-circle {
    font-size: 1.7rem;
  }
}
</style>
