<template>
  <div>
    <ProfileSideBarLayout>
      <PostCommentModule/>
    </ProfileSideBarLayout>
  </div>
</template>

<script>
import PostCommentModule from '@/components/comment/PostComments.vue'
import UserProfileSwitcher from '../UserProfileTimeline/Switcher.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'
export default {
  name: 'BlogCommentsPage',
  components: {
    UserProfileSwitcher,
    PostCommentModule,
    ProfileSideBarLayout
  }
}
</script>
<style scoped>
.rr-switchers {
    max-width: 500px;
}
#take-another-test{
  background-color: #90b42f;
  color:#f4f7ea;
  width:180px;
  height:50px;
  margin-left: 37%;
  margin-top: -1000%;
  font-size: 12px;
  border-radius: 8px;
  outline: none
}
.rr-switchers {
    max-width: 46%;
  }
@media screen and (max-width: 600px) {
  #take-another-test{
  background-color: #90b42f;
  color:#f4f7ea;
  width:130px;
  height:50px;
  margin-left: 58%;
  margin-top: -7000px;
  font-size: 12px;
  border-radius: 8px;
  outline: none
}
.rr-switchers {
    max-width: 85%;
  }
  .rr-switchers li {
    margin-right: 1.2rem;
  }
  .rr-switchers {
    max-width: 85%;
  }
  .rr-switchers li a {
    font-size: 80%;
  }
}
</style>
