<template>
  <div class="main-profile">
    <div v-for="sideBarLink in newSideBarLinks" :key="sideBarLink.name" class="main-wrapper">
      <div class="link-wrapper">
        <router-link :to="sideBarLink.link" class="sideBarLink" active>
          {{ sideBarLink.name }}
        </router-link>
      </div>
    </div>

    <i v-show="!linkDisplay" @click="toggleLinkDisplay" class="fa fa-angle-double-down"></i>
    <div v-show="linkDisplay" class="mobile-view">
      <div v-for="sideBarLink in newSideBarLinks" :key="sideBarLink.name">
        <div class="link-wrapper">
          <router-link :to="sideBarLink.link" class="sideBarLink" active>
            {{ sideBarLink.name }}
          </router-link>
        </div>
      </div>
      <i @click="toggleLinkDisplay" class="fa fa-angle-double-up"></i>
    </div>

  </div>
</template>

<script>
import {decodeToken} from '@/utils/helperFunctions'

export default {
  name: 'EcommerceSideBar',
  data () {
    return {
      linkDisplay: false,
      sideBarLinks: [
        {
          name: 'Edit Profile',
          link: 'edit-profile'
        },
        {
          name: 'My Membership',
          link: 'subscription'
        },
        {
          name: 'My Orders',
          link: '404'
        },
        {
          name: 'My Invoices',
          link: 'invoices'
        },
        {
          name: 'My Receipts',
          link: 'receipts'
        }
      ]
    }
  },

  methods: {
    toggleLinkDisplay () {
      this.linkDisplay = !this.linkDisplay
    }
  },

  computed: {
    newSideBarLinks () {
      let newLinks = this.sideBarLinks
      const {account_type: accountType} = decodeToken(localStorage.getItem('token'))
      if (accountType !== 'Service Provider') {
        newLinks = this.sideBarLinks.filter(link => {
          return link.name !== 'My Membership'
        })
      }

      return newLinks
    }
  }
}
</script>

<style scoped>
.sideBarLink {
  color: #2C3E50;
}
.link-wrapper {
  padding: 18px 0;
}
.sideBarLink:hover {
  color: #90b42f;
  text-decoration: none;
}
.router-link-active{
  color: #90b42f;
  border-bottom: 3px solid #90b42f;
}
.main-profile {
  margin-top: 150px;
  padding: 0 100px;
}

.fa, .mobile-view {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .main-profile {
    padding: 0 60px;
  }
}

@media only screen and (max-width: 800px) {
  .main-profile {
    margin-top: 0;
    padding: 0;
    text-align: center;
  }

  .main-wrapper {
    display:none;
  }

  .link-wrapper {
    padding: 5px 0;
  }

  .sideBarLink {
    font-size: 12px;
  }

  .fa, .mobile-view {
    display: block;
  }

  .fa {
    display: inline-block;
    border-radius: 30%;
    color: #90b42f;
    cursor: pointer;
    padding: 7px;
  }

  .fa-angle-double-down {
    border: 2px solid #90b42f;
    margin: 10px 0;
  }
}
</style>
