<template>
  <div>
    <offline @detected-condition="handleConnectivityChange"/>
    <div class="text-center messages" v-if="showMessage">
      <p v-if="!online" class="offline">You are currently offline</p>
      <p v-else-if="online" class="online">You are back online</p>
    </div>
  </div>
</template>

<script>
import offline from 'v-offline'

export default {
  data () {
    return {
      online: true,
      showMessage: false
    }
  },
  watch: {
    // ** watching this.online for changes **/
    online (newData, oldData) {
      this.showMessage = true
      if (newData) {
        setTimeout(() => {
          this.showMessage = !this.online
        }, 4000)
      }
    }
  },
  components: {
    offline
  },

  methods: {
    // ** updates this.online status **/
    handleConnectivityChange (status) {
      this.online = status
    }
  }
}
</script>
<style scoped>
.offline {
  background-color: #ff838c;
}
.online {
  background-color: rgb(86, 234, 122);
}
p {
  height: 25px;
  width: 100%;
  padding: 2px;
  position: fixed;
  color: white;
  margin: 0;
  z-index: 1;
  top: 80px;
}
</style>
