<template>
  <div class="card">
      <div class="image">
        <ImageCarousel
        :productImages="images"
        />
      </div>
      <div class="card-details">
        <span class="card-name">{{productName}}</span>
        <div class="description">{{description | truncate}}</div>
        <span class="price">KES {{Math.trunc(price)}}</span>
        <span class="county">{{county}}</span>
        <span class="category">{{category}}</span>
        <span class="edit">Edit</span>
        <router-link class="view-more" :to="`/individual-product/${id}`">View More</router-link>
      </div>
  </div>
</template>

<script>
import ImageCarousel from '@/components/ui/ImageCarousel'
export default {
  name: 'ProductCard',
  props: [
    'productName',
    'description',
    'price',
    'id',
    'images',
    'county',
    'edit',
    'category',
    'view'
  ],
  components: { ImageCarousel },
  filters: {
    truncate: description => {
      if (description.length > 100) {
        const newDescription = description.slice(0, 101)
        return newDescription + '...'
      } else {
        return description
      }
    }
  }
}
</script>

<style scoped>
.card {
  display: grid;
  width: 100%;
  grid-template-rows: 60% 40%;
  overflow: hidden;
  height: 350px;
  border: none;
  background-color: #f8f8f8;
}

.card .image >>> img {
  height: 230px;
  width: 100%;
  object-fit: fill;
}

.card-details {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-name {
  font-size: 18px;
  font-weight: 900;
  margin-top: 1rem;
  text-transform: capitalize;
  display: block;
}
.view-more {
  transition: background-color 0.8s ease-in-out;
}
.view-more:hover {
  background-color: #6f8c08;
}
.description {
  font-size: 12px;
  margin-top: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 60px;
  width: 100%;
}

.price {
  color: #a3c34e;
  display: block;
  margin-top: 0.5rem;
}

@media (max-width: 380px) {
  .card .image >>> img {
    /* height: 100%; */
    width: 100%;
    object-fit: fill;
  }
}

@media (max-width: 450px) {
  .card .image >>> img {
    /* height: 100%; */
    width: 100%;
    object-fit: fill;
  }
}
</style>
