<template>
  <div class="rr-switchers" id="rr-switcher">
    <li class="my-activities"  v-for="(switcherOption, index) in switcherOptionList" :key="index" @click="changeIsActiveLinkStatus(switcherOption.linkName)">
      <a :class="[{ 'isActive': switcherOption.linkName === activeLink }]"
      href=# >{{switcherOption.optionName}}</a>
    </li>
  </div>
</template>

<script>
export default {
  name: 'UserProfileSwitcher',
  props: {
    switcherOptionList: {
      type: Array,
      required: true
    },
    activeLink: {
      type: String,
      required: true
    }
  },
  methods: {
    changeIsActiveLinkStatus (statusLink) {
      this.$emit('changeActiveLinkStatus', statusLink)
    }
  }
}
</script>

<style scoped>
#rr-switcher{
  margin-right: auto;
  margin-left: 0;
  margin-top: 4rem;
  margin-bottom: 0;
}
.rr-switchers {
  text-align: left;
  margin: 4rem auto 0;
}

.rr-switchers li {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  color: #7a3241;
}
.rr-switchers li a {
  text-decoration: none;
  color: inherit;
}
a.isActive::after {
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background-color: #86b600;
}
@media screen and (max-width: 734px){
  #rr-switcher{
    margin: 10px 0px;
    max-width: 100%;
  }
  #rr-switcher .my-activities{
    margin: 0px 10px 0px 0px;
    font-size: 0.81em;
  }
}
@media only screen and (max-width: 600px) {
  .rr-switchers li {
    margin-right: 1.2rem;
  }
  .rr-switchers {
    max-width: 85%;
  }
  .rr-switchers li a {
    font-size: 80%;
  }
}
</style>
