<template>
  <div :id="id">
    <div class="update-card">
      <div class="uc-user-details-container">
        <img :src="blog.user.profile.pic || `@/assets/user-avatar.jpg`" class="user-thumbnail"/>
        <div class="user-name-county">
          <p class="user-name">{{blog.user.first_name}} {{blog.user.last_name}}</p>
          <p class="user-county">{{blog.user.county}}</p>
        </div>
        <p class="views">
          Views
          <span class="views-stat">1906</span>
        </p>
        <p class="updates">
          Updates
          <span class="updates-stat">{{blog.user.number_of_updates}}</span>
        </p>
        <router-link :to="`/expert-profile/${blog.user.id}`">
          <AppButton id="uc-view-expert-btn">View Expert</AppButton>
        </router-link>
      </div>
      <section class="d-flex pt-2">
        <section class="image-section" v-if="blog.photo.length >=1 && blog.photo != 'https://beta.cowsoko.com/storage/img/'">
          <ImageCarousel
            v-if="checkIfHostedImages"
            :productImages="blog.photo"
            id="sp-image-carousel"
          />
        </section>
        <section
          :class="[checkIfHostedImages ? 'text-and-icon-section-carousel-view' : 'text-and-icon-section w-100']"
        >
          <div class="d-flex flex-column h-100">
            <div>
              <div class="uc-content-type-container">
                <p class="uc-content-type">UPDATE</p>
              </div>
              <div class="uc-content-title-container">
                <router-link :to="`/updates/${blog.id}`" class="uc-content-title">{{blog.text}}</router-link>
              </div>
              <div>
                <router-link class="read-more" id="mobile-read-more" :to="`/updates/${blog.id}`">Read more</router-link>
              </div>
            </div>
            <div
              :class="[checkIfHostedImages ? 'uc-bottom-content-carousel-view mt-auto h-25 px-2' : 'uc-bottom-content mb-4 d-flex w-100']"
            >
              <div class="d-flex mb-2">
                <div class="mr-4">
                  <i class="far fa-thumbs-up"></i>
                  {{blog.likes}}
                </div>
                <div class="mr-4">
                  <i class="far fa-comment"></i>
                  {{blog.number_of_comments}}
                </div>
                <div>
                  <router-link class="read-more" :to="`/updates/${blog.id}`">Read more</router-link>
                </div>
              </div>
              <div class="ml-auto">
                <SocialShare
                  :itemUrl="updateViewLink + blog.id"
                  :fbTwittertext="blog.text"
                  :whatsappText="(encodeURI(`${blog.text} ${updateViewLink + blog.id}`))"
                />
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
import AppButton from '@/components/ui/AppButton'
import SocialShare from '@/components/ui/SocialShare'
import ImageCarousel from '@/components/ui/ImageCarousel'

export default {
  name: 'UpdateCard',
  components: {
    AppButton,
    SocialShare,
    ImageCarousel
  },
  computed: {
    checkIfHostedImages () {
      let hostedPhotoCount = 0
      this.blog.photo.map(photo => {
        if (
          photo === 'https://beta.cowsoko.com/storage/img/' ||
          photo === '' ||
          photo === null
        ) {
          hostedPhotoCount += 0
        } else {
          hostedPhotoCount += 1
        }
      })
      if (hostedPhotoCount > 0) {
        return true
      }
      return false
    },
    updateViewLink () {
      return `${window.location.origin}/updates/`
    },
    whatsAppShareText (text) {
      // let text = `${this.blog.title} ${this.updateViewLink}`
      return encodeURI(text)
    }
  },
  props: {
    id: {
      type: String
    },
    blog: {
      type: Object
    },
    blogs: {
      type: Array
    },
    blogType: {
      type: String
    },
    completedReading: {
      type: Boolean
    },
    numberOfExpertUpdates: {
      type: Number
    }
  }
}
</script>

<style scoped>
.text-and-icon-section-carousel-view .uc-content-title-container {
  margin-top: 2%;
  margin-bottom: 2%;
}
.uc-bottom-content-carousel-view {
  width: 100%;
  margin-top: 7%;
}
.uc-bottom-content-carousel-view span:first-child {
  margin-left: 0;
}
.uc-bottom-content-carousel-view span {
  margin-left: 3%;
}
.uc-bottom-content-carousel-view >>> .social-media-icons {
  text-align: left;
}
.text-and-icon-section-carousel-view .uc-content-title-container {
  margin-bottom: 0;
}
#sp-image-carousel {
  width: 300px;
  height: auto;
  margin-left: 2rem;
  padding-bottom: 1rem;
}
.image-section,
.text-and-icon-section-carousel-view {
  display: flex;
  flex-direction: row;
}
.image-section {
  width: 350px;
  height: auto;
  margin-bottom: 15px;
}
.text-and-icon-section,
.uc-user-details-container {
  background-color: transparent;
  max-width: 90%;
  margin-left: 2rem;
  margin-top: 1rem;
}
.text-and-icon-section-carousel-view {
  margin-right: 5px;
  width: 300px;
}

.uc-content-title {
  max-width: 100%;
  height: auto;
  text-overflow: clip;
  white-space: normal;
}
.update-card {
  border: 1px solid #f4f7ea;
  background: white;
  box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
  margin-bottom: 5%;
  margin-right: 1%;
}
.card-social-media-section {
  margin-top: 2%;
}
.top-bottom-container {
  vertical-align: top;
  width: 30%;
}
.user-name {
  font-size: 90%;
}
.user-name-county {
  vertical-align: middle;
  width: 25%;
  margin-left: 2%;
}
.user-name-county > p {
  margin-bottom: 0;
  margin-top: 0;
}
.user-name {
  color: #97b83d;
}
.user-county {
  color: #a4a4a4;
  font-size: 75%;
}
.user-thumbnail {
  border-radius: 50%;
  width: 60px;
}
.views {
  width: 16%;
  color: #78424d;
  font-size: 0.8rem;
}
.views-stat {
  background-color: #00cbe9;
  color: #ffffff;
  padding: 3px 3px 1px 3px;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}
.updates {
  width: 19%;
  color: #78424d;
  font-size: 0.8rem;
}
.updates-stat {
  background-color: #9900eb;
  color: #ffffff;
  padding: 3px 3px 1px 3px;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}
.uc-user-details-container .user-name-county,
.uc-user-details-container > p,
.uc-user-details-container #uc-view-expert-btn {
  display: inline-block;
}
#uc-view-expert-btn {
  font-size: 80%;
  margin-top: 3%;
  width: 20% !important;
  padding: 0.1rem !important;
}
.uc-content-type {
  font-size: 75%;
  color: #add071;
  margin-bottom: 0.5rem;
}
.uc-content-title-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.5rem;
}
a.uc-content-title {
  color: #7a3241;
  text-decoration: none;
}
.uc-bottom-content span {
  display: inline-block;
  margin-right: 1rem;
}
.fa-thumbs-up,
.fa-comment {
  color: #93c333;
  margin-right: 0.2rem;
}
.read-more {
  font-size: 90%;
  color: #b2b2b2;
}
#mobile-read-more {
  display: none;
}
@media screen and (max-width: 2560px) {
  .d-flex {
    display: flex;
  }
}
@media screen and (max-width: 734px) {
  .text-and-icon-section-carousel-view {
    width: 100%;
    padding: 10px;
    display: block !important;
  }
  .d-flex {
    display: block !important;
  }
  .uc-bottom-content-carousel-view,
  .uc-bottom-content,
  .uc-content-title-container {
    margin: 0px !important;
    padding: 0px !important;
  }
  .uc-bottom-content,
  .uc-bottom-content-carousel-view {
    overflow: auto;
    width: 100% !important;
  }
  .uc-bottom-content-carousel-view > div,
  .uc-bottom-content > div {
    margin: 0px !important;
    overflow: auto;
    display: flex !important;
    float: left;
    width: 50%
  }
  a.read-more {
    display: none;
  }
  #mobile-read-more {
    display: block;
    margin-bottom: 10px;
  }
  .uc-bottom-content-carousel-view > div:nth-child(1) div,
  .uc-bottom-content > div:nth-child(1) div {
    margin-right: 10px !important;
  }
  .uc-bottom-content-carousel-view > div:nth-child(2n) span,
  .uc-bottom-content > div:nth-child(2n) span {
    margin: 0px;
  }
  .uc-bottom-content-carousel-view > div:nth-child(2n) span >>> a i,
  .uc-bottom-content > div:nth-child(2n) span >>> a i {
    margin-left: 3px !important;
  }
  .image-section {
    width: 100%;
    padding: 0px 10px;
  }
  .image-section #sp-image-carousel {
    width: 100%;
  }
  .update-card {
    margin-right: 0px;
  }
  .update-card > section {
    padding-top: 0px !important;
    display: block !important;
  }
  .uc-user-details-container {
    margin: 0px !important;
    padding: 10px;
    max-width: 100%;
  }
  .uc-user-details-container p {
    margin: 10px 5px 0px 0px;
    width: auto;
  }
  .text-and-icon-section {
    width: 100% !important;
    max-width: 100%;
    margin: 0px;
    padding: 10px;
  }
  #sp-image-carousel {
    padding: 0px;
  }
  .uc-content-type {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .user-thumbnail {
    width: 50px;
  }
}
@media screen and (max-width: 600px) {
  .user-name-county {
    width: 70%;
  }
  .updates {
    width: auto !important;
  }
  #uc-view-expert-btn {
    font-size: 70%;
    width: 30% !important;
    padding: 0.1rem !important;
  }
  .uc-bottom-content >>> .social-media-icons {
    text-align: left;
  }
  .text-and-icon-section {
    margin-top: 0;
  }
  .image-section {
    height: auto;
  }
  .text-and-icon-section,
  .uc-user-details-container {
    background-color: transparent;
    margin: 0px !important;
  }
  .text-and-icon-section-carousel-view {
    margin-right: 5px;
  }
  .uc-content-title {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
  #sp-image-carousel {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .uc-content-type {
    font-size: 0.8rem;
  }
  .read-more {
    font-size: 0.8rem;
  }
  .text-and-icon-section >>> .share-message,
  .text-and-icon-section-carousel-view >>> .share-message {
    font-size: 0.8rem;
  }
  .text-and-icon-section >>> i.fa-twitter,
  .text-and-icon-section >>> i.fa-whatsapp,
  .text-and-icon-section >>> i.fa-facebook-f,
  .text-and-icon-section-carousel-view >>> i.fa-twitter,
  .text-and-icon-section-carousel-view >>> i.fa-whatsapp,
  .text-and-icon-section-carousel-view >>> i.fa-facebook-f {
    font-size: 1rem;
  }
  .text-and-icon-section >>> .card-social-media-section,
  .text-and-icon-section-carousel-view >>> .card-social-media-section {
    width: 90%;
  }
  .text-and-icon-section >>> .nav-link {
    margin-left: 3%;
  }
  .text-and-icon-section-carousel-view >>> .social-media-icons > .nav-link,
  .text-and-icon-section-carousel-view >>> .social-media-icons .share-nav-link {
    width: 10%;
  }
  .uc-content-title {
    font-size: 0.9rem;
  }
}
@media (max-width: 575.98px) {
}
@media screen and (max-width: 500px) {
  .uc-content-container {
    height: auto;
    padding-right: 10px;
  }
}
@media screen and (max-width: 320px) {
  .user-name-county {
    width: 60%;
  }
  .views {
    width: auto !important;
  }
  .image-section {
    height: auto;
  }
  .text-and-icon-section,
  .uc-user-details-container {
    background-color: transparent;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .text-and-icon-section-carousel-view {
    height: auto;
    margin-right: 5px;
  }
  .uc-content-type {
    font-size: 0.7rem;
  }

  .uc-content-title {
    max-width: 100%;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
}
</style>
